.zhuzi_conmon{
	
}
.zhuzi_conmon .zhu_ul {
    height: 100%;
    box-sizing: border-box;
    padding-bottom: .2rem;
}
.zhuzi_conmon .zhu_ul li {
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
}
.zhuzi_conmon .dp3_zhu_x li {
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: .40rem;
    font-family: "Microsoft YaHei";
    color: rgb(45, 45, 45);
}

.zhuzi_conmon .dp3_zhu_y ul {
    height: 100%;
}
.zhuzi_conmon  .dp3_zhu_y li {
    height: 16.6%;
    font-size: .40rem;
    color: rgb(45, 45, 45);
    line-height: 1.33rem;
}
.bar-items{
	    position: relative;
	    height: 100%;
	    padding-left: .6445rem;
}
.bar-num{
	    font-size: .40rem;
    margin-top: -1.05rem;
    color: rgb(45, 45, 45);
}
.bar-bg{
	background: url(../img/bar-bg.png) no-repeat; width: .94rem;height: 100%;background-size: cover;
}
.bar-main {
  background-image: -moz-linear-gradient( 0deg, rgb(220,136,87) 0%, rgb(251,209,100) 51%, rgb(224,145,89) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(220,136,87) 0%, rgb(251,209,100) 51%, rgb(224,145,89) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(220,136,87) 0%, rgb(251,209,100) 51%, rgb(224,145,89) 100%);
  position: absolute;
  bottom: .13rem;
  width: .93rem;
  height: 80%;
      /*width: 100%;
    height: 100%;*/
  z-index: 352;
  transition: all 1s;
-moz-transition: all 1s; /* Firefox 4 */
-webkit-transition: all 1s; /* Safari 和 Chrome */
}
.bar-main-top{
	background: url(../img/bar-main-top.png);
	width: .94rem;
	height: .23rem;
	position: absolute;
	    top: -0.13rem;
	left: 0rem;
}
.bar-main-down{
	background: url(../img/bar-main-down.png);
	width: .94rem;
	height: .23rem;
	position: absolute;
	bottom: -.13rem;
	left: 0rem;
}


.fit{
	   width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.pos-a{
	position: absolute;
}
.hide{
	display: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
@font-face {
	font-family:"Britannic";
	src: url(../fonts/BRITANIC.TTF)  format('truetype');
	src: url(../fonts/BRITANIC.svg) format('svg');
}
@font-face {
	font-family:"Britannic";
	src: url(../fonts/FZCSJW_GB10.TTF)  format('truetype');
	src: url(../fonts/FZCSJW_GB10.svg) format('svg');
}
