/* 换届监控 */
.dp3_hjjk_title {
    position: absolute;
    left: 4357px;
    top: 638px;
    width: 1190px;
    height: 146px;
    z-index: 2267;
}
.dp3_hjjk_hong {
    position: absolute;
    left: 4661px;
    top: 923px;
    width: 210px;
    height: 450px;
    z-index: 2237;
}
.dp3_hjjk_lan {
    position: absolute;
    left: 5034px;
    top: 923px;
    width: 210px;
    height: 450px;
    z-index: 2237;
}
.dp3_hjjk_percent_hong{     /* 控制红色柱状图高度，范围：0-100% */
    height:100%;
    bottom: 0;
    position: absolute;
        text-align: center;

}
.dp3_hjjk_percent_lan{
    height:100%;
    bottom: 0;
    position: absolute;
        text-align: center;

}



/* 学习情况 */
.dp3_xxqk_table {
    position: absolute;
    left: 5450px;
    top: 776px;
    width: 2893px;
    height: 730px;
    z-index: 3286;
}

.dp3_xxqk_table_bg {
    position: absolute;
    left: 5759px;
    top: 1193px;
    width: 2366px;
    height: 215px;
    z-index: 2239;
}


/* 党费缴纳 */
.dp3_dfjn_title_bg {
    position: absolute;
    left: 4357px;
    top: 1509px;
    width: 3877px;
    height: 145px;
    z-index: 2176;
}
.dp3_dfjn_title {
    position: absolute;
    left: 4401px;
    top: 1509px;
    width: 463px;
    height: 145px;
    z-index: 2377;
}
.dp3_dfjn_huang_left {
    position: absolute;
    left: 4475px;
    top: 1896px;
    width: 1656px;
    height: 115px;
    z-index: 2113;
}

.dp3_dfjn_lan_left {
    position: absolute;
    left: 6466px;
    top: 1896px;
    width: 1656px;
    height: 115px;
    z-index: 2116;
}



/*中心组学习情况*/
.dp3_zxzxxqk_title {
    position: absolute;
    left: 4357px;
    top: 2117px;
    width: 3869px;
    height: 147px;
    z-index: 2178;
}
.zxzxxqk_chart {
    position: absolute;
    left: 4415px;
    top: 2250px;
    width: 3800px;
    height: 782px;
    z-index: 2162;
}
.zxzxxqk_bg{
    position: absolute;
    left: 4584px;
    top: 2348px;
    width: 3583px;
    height: 650px;
    z-index: 2161;
    background-image: url(../img/dp3_zxzxxqk_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*党组织书记讲党课情况*/
.dp3_dkqk_title {
    position: absolute;
    left: 4360px;
    top: 3027px;
    width: 3869px;
    height: 147px;
    z-index: 2191;
}
.dp3_dkqk_chart_bottom {
    position: absolute;
    left: 4579px;
    top: 3689px;
    width: 3549px;
    height: 173px;
    z-index: 2213;
}
.jdkqk_chart {
    position: absolute;
    left: 4358px;
    top: 3158px;
    width: 3848px;
    height: 850px;
    z-index: 2206;
}

.组_134_copy {
    background-image: url("组 134 copy.png");
    position: absolute;
    left: 4475px;
    top: 1896px;
    width: 1656px;
    height: 115px;
    z-index: 113;
}

.dfjn_text_box{
	margin-top: -158px;
	height: 120px;
	line-height: 120px;
}
.dp3_hjjk_hong_num,.dp3_hjjk_hong_percent,.dp3_hjjk_hong_name{
    width: 100%;
    position: absolute;
}
.dp3_hjjk_hong_num{
    top:-110px;
}
.dp3_hjjk_hong_percent{
    top:50%;
    margin-top: -32px;
}
.dp3_hjjk_hong_name{
    bottom: -110px;
}
/*党费缴纳*/
.dfjn_text_box h1{
    font-size: 120px;
    color: #ff8a0a;
}