.dp1_dzzgk_title {
  position: absolute;
  left: 238px;
  top: 377px;
  width: 3591px;
  height: 204px;
  z-index: 199;
}
.dp1_dzzgk {
  position: absolute;
  left: 328px;
  top: 905px;
  width: 3448px;
  height: 2325px;
  z-index: 200;
}
.dp1_dzzlsgx_title {
  position: absolute;
  left: 8698px;
  top: 377px;
  width: 3591px;
  height: 205px;
  z-index: 205;
}
.dp1_dzzlsgx_2 {
  position: absolute;
  left: 8702px;
  top: 2395px;
  width: 3625px;
  height: 1031px;
  z-index: 204;
}
.dp1_dzzlsgx_1 {
  position: absolute;
  left: 8696px;
  top: 852px;
  width: 3525px;
  height: 1030px;
  z-index: 203;
}
.dp1_center {
  position: absolute;
  left: 4132px;
  top: 400px;
  width: 4350px;
  height: 3588px;
  z-index: 75;
}
.dp1_center1 {
  position: absolute;
  left: 5559px;
  top: 851px;
  width: 1565px;
  height: 342px;
  z-index: 105;
}
.dp1_center2 {
  position: absolute;
  left: 4515px;
  top: 1771px;
  width: 3563px;
  height: 599px;
  z-index: 102;
}
.dp1_center3 {
  position: absolute;
  left: 5888px;
  top: 3350px;
  width: 894px;
  height: 562px;
  z-index: 104;
}
.dp1_center4 {
  position: absolute;
  left: 5633px;
  top: 2355px;
  width: 1283px;
  height: 175px;
  z-index: 103;
}
.dp1_yuan {
  background-image: url("dp1_yuan.png");
  position: absolute;
  left: 5632px;
  top: 1394px;
  width: 1355px;
  height: 961px;
  z-index: 888;
}
.dp1_1_bg {
  position: absolute;
  left: 4310px;
  top: 602px;
  width: 3989px;
  height: 1205px;
  z-index: 79;
}
.dp1_3_bg {
  position: absolute;
  left: 4468px;
  top: 980px;
  width: 3654px;
  height: 2218px;
  z-index: 78;
}
.dp1_4_bg {
  position: absolute;
  left: 6058px;
  top: 1685px;
  width: 503px;
  height: 807px;
  z-index: 80;
}
.dp1_4_fang {
  background-image: url("dp1_4_fang.png");
  position: absolute;
  left: 5419px;
  top: 1880px;
  width: 1783px;
  height: 547px;
  z-index: 43;
}