body {
	width: 126rem;
	height: 42rem;
}
.swiper-button-prev {
	position: absolute;
	left: 2.33rem;
	top: 1.11rem;
	/*top: 2.11rem;*/
	width: 2.32rem;
	height: 2.20rem;
	z-index: 568;
}

.swiper-button-next {
	position: absolute;
	left: 121.20rem;
	top: 1.11rem;
	/*top: 2.11rem;*/
	width: 2.32rem;
	height: 2.20rem;
	z-index: 556;
}
.dp1_dzzgk_title {
  position: absolute;
  left: 2.38rem;
  top: 3.77rem;
  width: 35.91rem;
  height: 2.04rem;
  z-index: 199;
}
.dp1_dzzgk {
  position: absolute;
  left: 3.28rem;
  top: 9.05rem;
  width: 34.48rem;
  height: 23.25rem;
  z-index: 200;
}
.dp1_dzzlsgx_title {
  position: absolute;
  left: 86.98rem;
  top: 3.77rem;
  width: 35.91rem;
  height: 2.05rem;
  z-index: 205;
}
.dp1_dzzlsgx_2 {
  position: absolute;
  left: 87.02rem;
  top: 23.95rem;
  width: 36.25rem;
  height: 10.31rem;
  z-index: 204;
}
.dp1_dzzlsgx_1 {
  position: absolute;
  left: 86.96rem;
  top: 8.52rem;
  width: 35.25rem;
  height: 10.30rem;
  z-index: 203;
}
.dp1_center {
  position: absolute;
  left: 41.32rem;
  top: 4.00rem;
  width: 43.50rem;
  height: 35.88rem;
  z-index: 75;
}
.dp1_center1 {
  position: absolute;
  left: 55.59rem;
  top: 8.51rem;
  width: 15.65rem;
  height: 3.42rem;
  z-index: 105;
}
.dp1_center2 {
  position: absolute;
  left: 45.15rem;
  top: 17.71rem;
  width: 35.63rem;
  height: 5.99rem;
  z-index: 102;
}
.dp1_center3 {
  position: absolute;
  left: 58.88rem;
  top: 33.50rem;
  width: 8.94rem;
  height: 5.62rem;
  z-index: 104;
}
.dp1_center4 {
  position: absolute;
  left: 56.33rem;
  top: 23.55rem;
  width: 12.83rem;
  height: 1.75rem;
  z-index: 103;
}
.dp1_yuan {
  background-image: url("dp1_yuan.png");
  position: absolute;
  left: 56.32rem;
  top: 13.94rem;
  width: 13.55rem;
  height: 9.61rem;
  z-index: 888;
}
.dp1_1_bg {
  position: absolute;
  left: 43.10rem;
  top: 6.02rem;
  width: 39.89rem;
  height: 12.05rem;
  z-index: 79;
}
.dp1_3_bg {
  position: absolute;
  left: 44.68rem;
  top: 9.80rem;
  width: 36.54rem;
  height: 22.18rem;
  z-index: 78;
}
.dp1_4_bg {
  position: absolute;
  left: 60.58rem;
  top: 16.85rem;
  width: 5.03rem;
  height: 8.07rem;
  z-index: 80;
}
.dp1_4_fang {
  background-image: url("dp1_4_fang.png");
  position: absolute;
  left: 54.19rem;
  top: 18.80rem;
  width: 17.83rem;
  height: 5.47rem;
  z-index: 43;
}