.dp1_lsgx_txtul1 .dp1_lsgx_num1{
    position: absolute;
    left: 8996px;
    top: 3488px;
    width: 330px;
    height: 105px;
    z-index: 2;
}
.dp1_lsgx_txtul1 .dp1_lsgx_num2{
    position: absolute;
    left: 9865px;
    top: 3220px;
    width: 400px;
    height: 104px;
    z-index: 2;
}
.dp1_lsgx_txtul1 .dp1_lsgx_num3{
    position: absolute;
    left: 9920px;
    top: 3356px;
    width: 400px;
    height: 108px;
    z-index: 2;
}
.dp1_lsgx_txtul1 .dp1_lsgx_num4{
    position: absolute;
    left: 9914px;
    top: 3597px;
    width: 400px;
    height: 97px;
    z-index: 2;
}
.dp1_lsgx_txtul2 .dp1_lsgx_num1{
    position: absolute;
    left: 10846px;
    top: 3490px;
    width: 422px;
    height: 95px;
    z-index: 2;
}
.dp1_lsgx_txtul2 .dp1_lsgx_num2 {
    position: absolute;
    left: 11741px;
    top: 3256px;
    width: 400px;
    height: 87px;
    z-index: 2;
}
.dp1_lsgx_txtul2 .dp1_lsgx_num3{
    position: absolute;
    left: 11794px;
    top: 3404px;
    width: 400px;
    height: 99px;
    z-index: 2;
}
.dp1_lsgx_txtul2 .dp1_lsgx_num4 {
    position: absolute;
    left: 11798px;
    top: 3629px;
    width: 417px;
    height: 96px;
    z-index: 2;
}
.dp1_lsgx_part4 {
    position: absolute;
    left: 10706px;
    top: 3287px;
    width: 1059px;
    height: 586px;
    z-index: 340;
}

.dp1_lsgx_part2 {
    position: absolute;
    left: 8795px;
    top: 3252px;
    width: 1091px;
    height: 604px;
    z-index: 339;
}
.dp1_lsgx_txt{
    font-size: 85px;
    color: #e12525;
    font-family: "Britannic";
    font-weight: 800;
    letter-spacing: 4px;
}
.dp1_lsgx_txt .ge{
    font-size: 56px;
    font-family: "Microsoft YaHei";
}
.dp1_lsgx_txt .big{
    margin-right: 2px;
}